* {
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url("img/bg.avif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 150px;
    cursor: pointer;
    margin-top: -0.5%;
    margin-left: -2%;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 16px;
}

ul li a{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(202, 26, 85);
    margin-top: -3%;
}

ul li a:hover{
    color: rgb(159, 56, 255);
    transition: 0.5s;
}

/* Info Section */

#info{
    margin-left: 10%;
    margin-top: 6%;
    
}

#info h1{
    font-size: 65px;
    color: rgb(154, 10, 221);
}

#info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

#info a{
    text-decoration: none;
    color: violet;
    background: white;
    padding: 10px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;

}


.info a:hover{
    background: rgb(118, 14, 179);
    color: white;
    transition: 0.5s ease;
}
.info h1 span{
    color: violet;
}

/* About Section */

#about{
    margin: 80px auto;
    width: 70%;
    text-align: center;
}

#about h2{
    font-size: 36px;
    color: rgb(118, 14, 179);
    margin-bottom: 25px;
}

#about p{
    font-size: 20px;
    line-height: 1.8;
    color: #ccc;
    text-align: center;
    text font-family: Arial, sans-serif;
}

/* Projects Section */

.project-header{
    text-align: center;
    margin-bottom: 40px;
    font-family: Arial, sans-serif;

    font-size: 36px;
    color: rgb(154, 10, 221);
}

.project-container{
    display: flex;
    justify-content: center;
    gap: 31px;
    flex: wrap:
}

.project-item img{
    width: 300px;
    height: 200px;
    background-color: #333;
    display: block;
    border-radius: 8px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: rgb(202, 26, 85);
}



/* Contact Section */

#contact {
    text-align: center;
    margin-top: 60px;
    font-family: Arial, sans-serif;
}

.contactme {
    width: 400px;
    margin: 0 auto;
}


.contact-info h2 {
    font-size: 36px;
    color: rgb(202, 26, 85);
    margin-bottom: 25px;
}


.contact-info label {
    display: block;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}


#name,
#email,
#message {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid rgb(154, 10, 221);
    background: transparent;
    color: white;
    font-size: 14px;
}


.cbtn {
    display: block;
    margin: 0 auto;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgb(202, 26, 85);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


.cbtn:hover {
    background-color: rgb(154, 10, 221);
}

