* {
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-image: url("img/bg.avif");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.navbar{
    width: 86%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo{
    width: 150px;
    cursor: pointer;
    margin-top: -0.5%;
    margin-left: -2%;
}

ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 16px;
}

ul li a{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(202, 26, 85);
    margin-top: -3%;
}

ul li a:hover{
    color: rgb(159, 56, 255);
    transition: 0.5s;
}

#info{
    margin-left: 10%;
    margin-top: 6%;
    
}

#info h1{
    font-size: 65px;
    color: rgb(154, 10, 221);
}

#info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

#info a{
    text-decoration: none;
    color: violet;
    background: white;
    padding: 10px 18px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;

}

.info a:hover{
    background: rgb(118, 14, 179);
    color: white;
    transition: 0.5s ease;
}
.info h1 span{
    color: violet;
}

/* Contact Section */
.contactme{
    background-color: #f0f0f0;
    background: none;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    margin-top: 30px;}

#name, #email, #message{
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #c300ff;
    border-radius: 10px;
    
}

.cbtn{
    background-color: rgb(202, 26, 85);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}